MONGODB_URI="mongodb+srv://medaiuser:fJuyS1eMrXy1ARlH@rag-cluster.terhteg.mongodb.net/?retryWrites=true&w=majority&appName=RAG-Cluster"

JWT_SECRET=7b4e9c1a3e2d9f7a48c6b2d15a88f1f374f0e3f8d1cbb58a20ed5c42a7c13b1d
ENV=development
FRONTEND_ORIGIN=http://localhost:3000
DB_NAME=medai
